/* Reset default browser styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }

  .home-section{
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;

}
.container{
    background: #FFFFFF;
    width: 1440px;
    height: 677px;
    border: 1px solid blue;
}
nav{
  justify-content: center;
  display: flex;
  height: 102px;
  align-items: center;
}
.head-item{

  display: flex;
  width: 1160px;
  height: 62px;
}
.logo_div{
  align-items: center;
  display: flex;
  width: 202px;
  height: 62px;
}
.logo_div h1{
  font-family: 'Quicksand', sans-serif;
line-height: 30px;
font-size: 32px;
}
.head-item ol{
  padding-top: 15px;
  padding-left: 186px;
  display: flex;
  list-style: none;
  gap: 40px;

}
.head-item ol li a{
  text-decoration: none;
  font-size: 20px;
}
.contact-btn{
  background-color: orange;
  border: none;
  border-radius: 12px;
  margin-top:5px ;
  margin-left: 186px;
  width: 197px;
  height: 50px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
}
.head-item button:hover{
  background-color: rgb(195, 159, 98);
}
.home-part{
  display: flex;
 justify-content: center;
  width: 1440px;
  height: 575px;

}
.middle-part{

  width: 1158.61px;
  height: 575px;

}
.left-side{
  margin-top: 141px;
  width: 640px;
  height: 331px;

}
.left-side h1{
  font-family: 'Quicksand', sans-serif;
  line-height: 61px;
  font-size: 56px;
}
.left-side p{
  font-family: 'Quicksand', sans-serif;
  padding-top: 24px;
  line-height: auto;
  font-size: 20px;
}
.left-side button{
  font-family: 'Quicksand', sans-serif;
 margin-top: 24px;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: black;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  border:none;
}
.left-side button:hover{
  background-color: #313131;
}
.img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1070px;
  width: 468.61px;
  height: 575px;
}
.toggle-btn{
  display: none;
}

.age-br{
  display: none;
}





@media (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
  }

  nav {
    width: 100%;
     display: flex;
    height: 70px;

    justify-content: space-between;
    border-bottom: 1px solid orange;
  }
  .head-item {
    display: flex;
    justify-content: space-between;
  }
  .head-item img{
    width: 46px;

    padding-bottom: 20px;

  }
  .head-item ol{
    display: none;
  }
  .contact-btn{
    display: none;
  }
  .head-item h1{
    display: none;
  }

  .logo_div {
    padding-top: 20px;
    justify-content: space-between;
  }

  .logo_div h1 {
    font-size: 24px;
  }

  .head-item ol {
    flex-direction: column;
    padding-left: 0;
    gap: 20px;
    padding-top: 10px;
  }

  .contact-btn {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
  }

  .toggle-btn {
    margin-right: 20px;
    display: inline-block;
    background: none;
    border: none;
    font-size: 32px;
    color: #000;
  }

  .home-part {
    width: 140px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .middle-part {
     width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-side {
    margin-top: 20px;

    height: auto;
  }

  .left-side h1 {
    padding-left: 240px;
    font-size: 32px;
    line-height: 1.4;
  }

  .left-side p {
    padding-left: 250px;
    font-size: 16px;
    line-height: 1.5;
  }

  .left-side button {
    margin-left: 240px;
    font-size: 16px;
    width:131.41px;
    line-height: 30px;
    height:43.17px ;
    margin-top: 15px;
  }

  .img-div {
    padding-left: 250px;
    position: static;
    height: auto;
    margin-top: 20px;
  }

  .img-div img {
     width: 337px;
     height: 413px;
  }

  .age-br {
    display: inline;
  }
}
